<div>
   <h1>Headlight Aiming</h1>
   <div class="overlay" style="left: 100px; top: 485px;">
      <span>Distance: </span>
      <input id="distanceInput" type="text" style="width: 50px;" ng-model="headlightAimingController.distance" ng-change="headlightAimingController.inputChanged()"
      />
      <span>mm</span>
   </div>
   <div class="overlay" style="left: 340px; top: 505px;">
      <span>Height: </span>
      <input id="heightInput" type="text" style="width: 50px;" ng-model="headlightAimingController.height" ng-change="headlightAimingController.inputChanged()"
      />
      <span>mm</span>
   </div>
   <div class="overlay" style="left: 500px; top: 295px;">
      <span>Distance Between Lamps: </span>
      <input id="lampsDistanceInput" type="text" style="width: 50px;" ng-model="headlightAimingController.lampsDistance" ng-change="headlightAimingController.inputChanged()"
      />
      <span>mm</span>
   </div>
   <img src="../images/headlight_pattern.png" />
   <h2 style="color: orange">{{headlightAimingController.patternHeight}}</h2>
   <h2 style="color: blue">{{headlightAimingController.leftOffset}}</h2>
   <h2 style="color: salmon">{{headlightAimingController.rightOffset}}</h2>
</div>