@import 'vars';
@import 'typography';
@import 'spinner';
@import '../../node_modules/bootstrap/dist/css/bootstrap';
@import '../../node_modules/angular-loading-bar/build/loading-bar';
@import '../../node_modules/sweetalert/dist/sweetalert';
@import 'console';
body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

.categories,
.menuItems {
  font-size: 32px;
  text-align: center;
  width: 100%;

  h1 {
    margin-bottom: 50px;
  }

  table {
    width: 50%;
    margin-left: 25%;

    th,
    td {
      text-align: center;
    }
  }

  ul {
    list-style-type: none;

    a {
      color: black;
      display: block;

      &:hover {
        color: black;
        text-decoration: none;
      }
    }

    li {
      padding: 10px 0 10px 0;
      //cursor: pointer;
    }
  }
}

.overlay {
  position: absolute;
  left: 340px;
  top: 505px;
  background-color: pink;
  padding: 2px;
  font-weight: bold;
  border: 2px solid;
}
