<div class="modal-header">
   <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
   <form>
      <div ng-class="(login.validationError == true) ? 'has-error' : ''">
         <label for="inputUser">Username</label>
         <input type="text" class="form-control" id="inputUser" data-ng-model="login.username" placeholder="Username">
      </div>
      <div ng-class="(login.validationError == true) ? 'has-error' : ''">
         <label for="inputPassword">Password</label>
         <input type="password" class="form-control" id="inputPassword" data-ng-model="login.password" placeholder="Password">
      </div>
      <div class="modal-footer">
         <button type="submit" data-ng-click="login.submit(inputUser, inputPassword)" class="btn btn-primary">Login</button>
      </div>
   </form>
</div>